.navbar-nav .nav-item .nav-link:focus {
    text-decoration: underline;
    background-color: rgba(182, 70, 182, 0.123);
}

.active {
    background-color: rgba(182, 70, 182, 0.123);
}

.footbar {
    background-color: rgba(182, 70, 182, 0.123);
}
