body {
    background-color: #2a3933;
    height: 100%;
}
main > .container {
    padding: 60px 15px 0;
}
/* #page-header {
    text-align: center;
    color: #d7d5d3;
} */
h3 {
    width: 517px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    color: #d7d5d3;
}
h2 {
    margin-top: 50px;
    color: #d7d5d3;
}
button {
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 2px;
} 
/* #projects {
    margin: 0px;
} */
/* #profile-image { 
    height: 250px;
    border-radius: 100%;
    outline: 3px solid #637439;
} */
.bus-tracker, .simulation, .text-processor {
    margin-top: 25px;
}
#simulations, #text-processors, #featured-projects {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 5px;
}

.navigation-bar {
    width: 500px;
    margin-bottom: 5px;
}
.permutor-container {
    margin: 0px;
}
.my-container {
    position: relative;
    outline: 3px solid #637439;
    width: 500px;
    height: 500px;
    margin: 5px;
}
.io-container {
    position: relative;
    outline: 3px solid #637439;
    width: 500px;
    height: 500px;
    margin: 5px;
    color: #d7d5d3;
}
.io-container-subcontainer {
    width: 500px;
    height: 250px;
    
}
.io-container div:first-child {
    outline: 3px solid #637439;
    word-wrap: break-word;
    overflow-y: scroll;
}

.ball, .pacman {
    z-index:4;
    position: absolute;
    width:50px;
    height:50px;
}
.ball {
    border-radius: 50%;
}
.max-standard {
    max-height: 3rem;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(1, 60px);
    grid-gap: 10px;
}
.repo-link {
    margin-left: 5px;
}
.eyes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  .eye {
    width: 240px;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .eye-ball {
    width: 80px;
    height: 80px;
    background: #000;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
.eye-container {
    position: relative;
    outline: 3px solid #637439;
    width: 700px;
    height: 400px;
    margin: 5px;
}